<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <main>
        <table>
            <thead>
                <tr>
                    <th> Name</th>
                    <th> Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for item in categories %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.receipts.all.count}}</td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>